/* You may use the following selectors, but it's not required. */

body {
	font-family: "Open Sans";
}

div, img {
	transition: linear 0.3s;
}

#container {
    width: 960px;
    margin: 0px auto;
    padding: 30px 0px;
    text-align: center;
}

#thumbnail {
	margin: auto;
}

#thumbnail img {
	width: 250px;
	border-radius: 10px;
}

#thumbnail img:hover {
	opacity: .5;
}

#header {
	font-size: 2.5em;
	font-style: bold;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-shadow: 0px 4px 4px #aaa;
}

#subheader {
	font-style: italic;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 30px;
}

#description {
	line-height: 2;
	width: 500;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

#link {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 200px;
	background-color: #33FF99;
	color: white;
	border-radius: 10px;
}

#link:hover {
	background-color: #4785dc;
}

.list-container {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background-color: #ddd;
	width: 400px;
	border-radius: 10px;
}

.list-title {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	width: 350px;
	font-size: 1.3em;
}

.list-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.list-item {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	width: 350px;
	background-color: white;
	border-radius: 5px;
}

.list-item:hover {
	background-color: #f22613;
	color: white;
}

#lang {

}

.ico {
	display: inline-block;
}

.ico:hover {
	opacity: 0.5;
}